<body style="margin: 0 auto; padding: 0;">
             
  <!--<%= notice %>-->

<div style="height: 500px; width: 750px; border-radius: 15px; background: -moz-linear-gradient(top, #000 0%, #003366); margin: 10px auto; padding: 15px; color: white;
box-shadow:4px 2px 3px #000;">

<p>Rapping (or emceeing, MCing, spitting bars, or rhyming) is "spoken or chanted rhyming lyrics". The components of rapping include "content", "flow" (rhythm and rhyme), and "delivery". Rapping is distinct from spoken word poetry in that it is performed in time to a beat. Rapping is often associated with and a primary ingredient of hip hop music, but the origins of the phenomenon can be said to predate hip hop culture by centuries. It can also be found in alternative rock such as that of Cake and the Red Hot Chili Peppers. Rapping is also used in Kwaito music, a genre that originated in Johannesburg, South Africa and is composed of hip hop elements. Since the early 21st century, it has been possible to hear rap in every major language of the world.</p>

<p>Rapping can be delivered over a beat or without accompaniment. Stylistically, rap occupies a gray area between speech, prose, poetry, and singing. The word (meaning originally "to hit") as used to describe quick speech or repartee predates the musical form. The word had been used in British English since the 16th century, and specifically meaning "to say" since the 18th. It was part of the African American dialect of English in the 1960s meaning "to converse", and very soon after that in its present usage as a term denoting the musical style. Today, the terms "rap" and "rapping" are so closely associated with hip hop music that many use the terms interchangeably</p>

<p>Rapping can be traced back to its African roots. Centuries before hip hop music existed, the griots of West Africa were delivering stories rhythmically, over drums and sparse instrumentation. Such connections have been acknowledged by many modern artists, modern day "griots", spoken word artists, mainstream news sources, and academics.

Blues music, rooted in the work songs and spirituals of slavery and influenced greatly by West African musical traditions, was first played by blacks, and later by some whites, in the Mississippi Delta region of the United States around the time of the Emancipation Proclamation. Grammy-winning blues musician/historian Elijah Wald and others have argued that the blues were being rapped as early as the 1920s. Wald went so far as to call hip hop "the living blues." Jazz, which developed from the blues and other African-American and European musical traditions and originated around the beginning of the 20th century, has also influenced hip hop and has been cited as a precursor of hip hop. Not just jazz music and lyrics but also jazz poetry. According to John Sobol, the jazz musician and poet who wrote Digitopia Blues, rap "bears a striking resemblance to the evolution of jazz both stylistically and formally."

</p>
</div>
</body>


